{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h1>Send {{ name }} an email</h1>
    <form action="mailto:calexc95@gmail.com" method="post" enctype="text/plain">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="comment">Content of email</label>
            <input type="text" class="form-control" id="comment">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-primary">Reset</button>
    </form>
{% endblock %}